DJANGO_SECRET_KEY=dev-not-secret-change-me
DEBUG=True
ALLOWED_HOSTS=*
LOG_LEVEL=INFO

DJANGO_DB_HOST=db
DJANGO_DB_PORT=5432
DJANGO_DB_NAME=appointment_db
DJANGO_DB_USER=appointment_user
DJANGO_DB_PASSWORD=othersecretpassword

AWS_REGION=us-east-1
AWS_ENDPOINT_URL=
APPOINTMENT_SNS_TOPIC_ARN=
EVENTS_SQS_QUEUE_URL=

SCHEDULE_SERVICE_URL=http://schedule-service:8000
INTERNAL_SHARED_TOKEN=dev-internal-token
SLOT_RESERVATION_TTL_MINUTES=10
